.navbar {
    margin-bottom: 0px !important;
    font-size:16px; 
}
.headerlink {
    color: #FDD947 !important;
}
.headerlink:hover {
    background: #282930 !important;
}
.underline {
    border-bottom: 1px solid #FDD947; 
}
