/*
    
    Мої, заздалегідь описати стилі, щоб було зручно і швидко

*/

.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.float-right { 
    float: right !important; 
}
.padding0 {
    padding: 0px !important;
}
.margin10 {
    margin: 10px 0 10px 0;
}
.margin20 {
    margin: 20px 0 20px 0;
}
.margin30 {
    margin: 30px 0 30px 0;
}
.margin40 {
    margin: 40px 0 40px 0;
}
.margin50 {
    margin: 50px 0 50px 0;
}
.margin60 {
    margin: 60px 0 60px 0;
}
.margin120 {
    margin: 120px 0 120px 0;
}
/* */
.padding10 {
    padding: 10px 0 10px 0;
}
.padding20 {
    padding: 20px 0 20px 0;
}
.padding30 {
    padding: 30px 0 30px 0;
}
.padding40 {
    padding: 40px 0 40px 0;
}
.padding50 {
    padding: 50px 0 50px 0;
}
.padding60 {
    padding: 60px 0 60px 0;
}
.padding70 {
    padding: 70px 0 70px 0;
}
.padding120 {
    padding: 120px 0 120px 0;
}
.border-bottom {
    border-bottom: 1px solid #000;
}
