/*

    Стилі адмінки USP:

*/
@font-face { font-family: RobotoCondensed-Light; src: url(../usp_fonts/RobotoCondensed-Light.ttf); }
@font-face { font-family: RobotoCondensed-Bold; src: url(../usp_fonts/RobotoCondensed-Bold.ttf); }

body {
    background-color: #FFF;
    font-family: RobotoCondensed-Light;
    font-size: 16px;
    letter-spacing: 1px;

}
h2 {
    font-family: RobotoCondensed-Bold;
}


#welcome_form {
    padding: 150px 0px 250px 0px;
}
#middle{
    color:#000;
    background-color: #F5F5E9;
    font-family:RobotoCondensed-Light;
}
#footer{
    padding:20px;
    margin-top: 30px;
    background-color: #f5f5e9;
    color: #160000;
    text-align: center;
}
pre {
    background-color:#222222;
    color: #97979e;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px;
}


.list-group-item {
    padding: 1px 5px 1px 5px !important;
    border: none !important;
    margin: 0px !important;
    background: none;
}

.txtfield {
    width: 100%;
    border: 1px #eee solid;
    padding: 2px;
    border: 1px solid #e5e5e5;
}
.big_textarea {
    width: 100%; height: 200px;
    }
.edit_element_textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #e5e5e5;
}
.submit_btn {
    background: #009aff;
    color: #fff;
    border: 1px;
    padding: 3px;
    min-width: 40px;
}
input:focus {
    background-color: #fef65b;
    border: 1px solid #FF7F50;
    outline:none;
}
textarea:focus {
    background-color: #fef65b;
    border: 1px solid #FF7F50;
    outline:none;
}
