/*

    Стилі адмінки USP:

*/
@font-face { font-family: RobotoCondensed-Light; src: url(../usp_fonts/RobotoCondensed-Light.ttf); }
@font-face { font-family: RobotoCondensed-Bold; src: url(../usp_fonts/RobotoCondensed-Bold.ttf); }

body {
    background-color: #FFF;
    font-family: RobotoCondensed-Light;
    font-size: 16px;
    letter-spacing: 1px;

}
h2 {
    font-family: RobotoCondensed-Bold;
}


#welcome_form {
    padding: 150px 0px 250px 0px;
}
#middle{
    color:#000;
    background-color: #F5F5E9;
    font-family:RobotoCondensed-Light;
}
#footer{
    padding:20px;
    margin-top: 30px;
    background-color: #f5f5e9;
    color: #160000;
    text-align: center;
}
pre {
    background-color:#222222;
    color: #97979e;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px;
}


.list-group-item {
    padding: 1px 5px 1px 5px !important;
    border: none !important;
    margin: 0px !important;
    background: none;
}

@media (max-width: 576px) { 
    body {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .delpadding576 {
        padding: 0px !important;
    }
}

.shopCoverImage { max-width: 300px; }


.vkfield {
    border: 1px solid #d3d9de;
    border-radius: 5px;
    color: #000;
    font-family: RobotoCondensed-Bold;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

.vktextarea {
    border: 1px solid #d3d9de;
    font-size: 16px;
    border-radius: 5px;
    color: #000;
    width: 100%;
    padding: 5px 10px 5px 10px;
    min-height: 130px;
}